@import "../components/variable";

$side_width: 250px;

@keyframes docBanner
{
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0.5;
  }
}

.pouch-docs-banner {
  background-image: linear-gradient(89deg, #FFA529 0%, #FF8025 100%);
  text-align: center;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    height: 300px;
    width: 966px;
    top:0;
    left: 50%;
    margin-left: -483px;
    animation: docBanner 8s linear 0s infinite alternate;
  }
  .pouch-docs-banner-content {
    color: $color_white;
    padding: 80px 0;
    font-size: 20px;
    z-index: 1;
    position: relative;
    h1 {
      font-size: 2em;
      font-weight: normal;
      line-height: 1.3em;
      margin: 0 0 20px 0;
    }
    .pouch-banner-btn {
      margin: 10px 20px;
    }

    @media screen and (max-width:800px){
      padding: 20px 0;
      font-size: 16px;
    }

  }
}
.pouch-docs-container {
  margin: 50px auto;
  position: relative;
  &:after {
    display: table;
    clear: both;
    content: "";
  }
  .pouch-doc-sidebar {
    width: 22%;
    float: left;
    border-right: 1px solid $border-color;
    background: #FFF;
    position: relative;
    .pouch-doc-sidebar-toggle {
      text-align: center;
      cursor: pointer;
      position: absolute;
      top: -1px;
      width: 40px;
      right: -42px;
      height: 30px;
      line-height: 30px;
      background: $bg_gray;
      border: 1px solid $border-color;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      display: none;
      img {
        width: 16px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
  .pouch-doc-body {
    width: 78%;
    float: left;
    padding: 0 40px;
    box-sizing: border-box;
    border-left: 1px solid $border-color;
    margin-left: -1px;
  }
  @media screen and (max-width:900px){
    .pouch-doc-sidebar {
      position: absolute;
      left: -251px;
      top:0;
      width: 250px;
      border: 1px solid $border-color;
      box-shadow: 5px 5px 5px $bg_gray;
      transition-duration: 0.3s;
      .pouch-doc-sidebar-toggle {
        display: block;
      }
      &.pouch-doc-sidebar-open {
        left:0
      }
    }
    .pouch-doc-body {
      width: 100%;
      border-left: none;
      margin-left: 0;
      padding: 0;
    }
  }
}

.pouch-doc-menu {
  margin: 0;
  padding: 0;
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    overflow: hidden;
    transition-duration: 0.3s;
  }
  a.pouch-doc-menu-item{
    height: 40px;
    line-height: 40px;
    display: block;
    border-left: 4px solid transparent;
    padding: 0 20px;
    transition-duration: 0.3s;
    position: relative;
    cursor: pointer;
    &:hover, &.pouch-doc-menu-item-selected {
      border-left-color: $color_orange;
      background-color: $bg_gray;
    }
    &.pouch-doc-menu-parent {

    }
    .pouch-doc-menu-toggle {
      width: 12px;
      position: absolute;
      right: 30px;
      top: 12px;
      transition-duration: 0.3s;
    }
  }
  .pouch-doc-menu {
    li > a {
      padding-left: 30px;
      background-image: url('https://img.alicdn.com/tfs/TB1PgcHXkyWBuNjy0FpXXassXXa-4-4.png');
      background-repeat: no-repeat;
      background-position: 18px 17px;
    }
  }
}

