@import "../components/variable";

.pouch-home-body {
  font-size: 16px;
}

@keyframes homeBanner1
{
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes homeBanner2
{
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-360deg);
    opacity: 0.5;
  }
}
@keyframes homeBannerImg
{
  from {
    transform: scale(1.08)
  }
  to {
    transform: scale(0.98)
  }
}
.pouch-home-banner {
  height: 560px;
  position: relative;
  color: #FFF;
  overflow: hidden;

  background-image: linear-gradient(89deg, #FFA529 0%, #FF8025 100%);
  .pouch-home-banner-bg {
    background-image: url("https://img.alicdn.com/tfs/TB1bFQOcuuSBuNjy1XcXXcYjFXa-3840-544.png");
    background-size: 1920px;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 560px;
  }
  img.pouch-home-banner-img {
    position: absolute;
    top: 80px;
    width: 217px;
    height: 381px;
    left: 180px;
    transition-duration: 0.3s;
    animation: homeBannerImg 2.5s linear 0s infinite alternate;
  }
  .pouch-home-banner-rotate-img-wrap {
    height: 560px;
    width: 800px;
    left: -110px;
    position: absolute;
    top:0;
    transition-duration: 0.3s;
    img.pouch-home-banner-rotate-img {
      position: absolute;
      &.pouch-home-banner-rotate-img-1 {
        width: 428px;
        top: 70px;
        left: 180px;
        animation: homeBanner1 20s linear 0s infinite alternate;
      }
      &.pouch-home-banner-rotate-img-2 {
        width: 594px;
        left: 90px;
        top: -10px;
        animation: homeBanner2 40s linear 0s infinite alternate;
      }
      &.pouch-home-banner-rotate-img-3 {
        top: -100px;
        width: 788px;
        animation: homeBanner1 80s linear 0s infinite alternate;
      }
    }
  }
  .pouch-home-banner-content {
    margin-top: 80px;
    width: 550px;
    line-height: 1.4em;
    transition-duration: 0.3s;
    float: right;
    font-size: 20px;
    position: relative;
    z-index: 1;
    h1 {
      line-height: 1.4em;
      font-weight: normal;
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }
  }
  @media screen and (max-width:1000px){
    img.pouch-home-banner-img {
      left: 50%;
      margin-left: -108px;
      opacity: 0.1;
    }
    .pouch-home-banner-content {
      left: auto;
      right: auto;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .pouch-home-banner-rotate-img-wrap {
      left: 50%;
      margin-left: -400px;
    }
  }
  @media screen and (max-width:450px){
    .pouch-home-banner-content {
      font-size: 16px;
      width: 95%;
      text-align: center;
    }
  }
  @media screen and (max-width:360px){
    .pouch-home-banner-content {
      font-size: 14px;
    }
  }
}

.pouch-home-introduction {
  background: $bg_gray;
  position: relative;
  padding: 50px 0;
  .pouch-home-introduction-title {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    transition-duration: 0.3s;
    position: relative;
    box-sizing: border-box;
    font-size: 30px;
    font-style: italic;
    .pouch-home-introduction-title-bg {
      font-weight: bold;
      color: #DDD;
      position: absolute;
      left:0;
      top: 50%;
      margin-top: -0.5em;
      font-size: 4em;
      line-height: 0.8em;
    }
    .pouch-home-introduction-title-text {
      position: relative;
      font-size: 1.2em;
      line-height: 1em;
      padding-left: 1.5em;
      span {
        color: $color_orange;
      }
    }
  }
  .pouch-home-introduction-content {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    box-sizing: border-box;
    line-height: 1.7em;
    padding-left: 60px;
    color: $color_light;
    transition-duration: 0.3s;
  }
  @media screen and (max-width:1100px){
    .pouch-home-introduction-title {
      width: 40%;
    }
    .pouch-home-introduction-content {
      width: 60%;
    }
  }
  @media screen and (max-width:800px){
    .pouch-home-introduction-title {
      width: 100%;
      display: block;
      text-align: center;
      margin-bottom: 20px;
      .pouch-home-introduction-title-bg {
        display: none;
        > div {
          display: inline;
        }
      }
      .pouch-home-introduction-title-text {
        padding-left: 0;
      }
    }
    .pouch-home-introduction-content {
      width: 100%;
      display: block;
      padding-left: 0;
    }
  }
  @media screen and (max-width:500px){
    .pouch-home-introduction-content {
      text-align: center;
    }
  }
}

.pouch-home-advantages {
  min-height: 500px;
  padding: 120px 0;
  h1 {
    font-size: 36px;
    text-align: center;
    margin:0 0 80px 0;
    line-height: 1em;
    font-weight: normal;
    transition-duration: 0.3s;
  }
  .pouch-home-advantages-item {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    &:after {
      display: table;
      clear: both;
      content: "";
    }
    .pouch-home-advantages-item-content, .pouch-home-advantages-item-img {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
      transition-duration: 0.3s;
    }
    .pouch-home-advantages-item-img img {
      width: 90%;
      text-align: center;
    }
    .pouch-home-advantages-item-content {
      .pouch-home-advantages-devider {
        width: 40px;
        height: 4px;
        background: $color_orange;
        margin: 30px 0;
      }
      h2 {
        font-size: 20px;
        line-height: 1em;
        font-weight: normal;
      }
      p {
        margin: 20px 0;
      }
      ul {
        padding-left: 20px;
      }
      li {
        margin: 20px 0;
      }
    }
  }
  @media screen and (max-width:900px){
    .pouch-home-advantages-item {
      .pouch-home-advantages-item-img {
        width: 60%;
      }
      .pouch-home-advantages-item-content {
        width: 40%;
      }
    }
  }
  @media screen and (max-width:800px){
    padding: 50px 0;
    .pouch-home-advantages-item {
      .pouch-home-advantages-item-img {
        width: 50%;
        vertical-align: top;
        position: absolute;
        top: 0;
        right:0;
        opacity: 0.2;
      }
      .pouch-home-advantages-item-content {
        width: auto;
        display: block;
      }
    }
  }
}

.pouch-home-features {
  list-style: none;
  padding: 0;
  &:after {
    display: table;
    clear: both;
    content: "";
  }
  li {
    width: 33.3333%;
    float: left;
    padding-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
    padding-right: 50px;
    min-height: 400px;
    position: relative;
    img {
      height: 80px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 20px;
      line-height: 1em;
      font-weight: normal;
    }
    p {
      color: $color_light;

    }
    @media screen and (max-width: 2000px) {
      &:nth-child(3) {
        padding-right: 0;
      }
    }
    @media screen and (max-width: 1000px) {
      width: 50%;
      min-height: 380px;
      &:nth-child(3) {
        padding-right: 50px;
      }
      &:nth-child(2) {
        padding-right: 0;
      }
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      min-height: 0;
      &:nth-child(3) {
        padding-right: 0;
      }
      &:nth-child(2) {
        padding-right: 0;
      }
      h2 {
        padding-left: 10px;
        display: inline;
        vertical-align: middle;
      }
      img {
        display: inline;
        height: 30px;
        margin-bottom: 0;
        vertical-align: middle;
      }
    }
  }
}

.pouch-home-architecture {
  color: $color_white;
  padding: 100px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  background-image: url("https://img.alicdn.com/tfs/TB1M29FXTtYBeNjy1XdXXXXyVXa-3840-1360.png");
  background-size: 1920px;
  background-position: center top;
  > img {
    width: 1920px;
    height: 680px;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
  }
  > h1 {
    font-size: 36px;
    line-height: 1em;
    font-weight: normal;
  }
  > p {
    width: 50%;
    margin: 0 auto;
    line-height: 1.8em;
    transition-duration: 0.3s;
  }
  @media screen and (max-width: 550px) {
    padding: 50px 0;
    p {
      width: 85%;
    }
  }
}