@import "../components/variable";

.pouch-home-body {
  font-size: 16px;
}

@keyframes homeBanner1
{
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes homeBanner2
{
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-360deg);
    opacity: 0.5;
  }
}
.pouch-home-banner {
  height: 560px;
  position: relative;
  color: #FFF;
  background: $bg_gray;
  overflow: hidden;
  .pouch-home-banner-bg {
    height: 560px;
    width: 1920px;
    position: absolute;
    left: 50%;
    top:0 ;
    margin-left: -960px;
  }
  img.pouch-home-banner-img {
    position: absolute;
    top: 80px;
    width: 217px;
    height: 381px;
    left: 180px;
    transition-duration: 0.3s;
  }
  .pouch-home-banner-rotate-img-wrap {
    height: 560px;
    width: 800px;
    left: -110px;
    position: absolute;
    top:0;
    img.pouch-home-banner-rotate-img {
      position: absolute;
      &.pouch-home-banner-rotate-img-1 {
        width: 428px;
        top: 70px;
        left: 180px;
        animation: homeBanner1 20s linear 0s infinite alternate;
      }
      &.pouch-home-banner-rotate-img-2 {
        width: 594px;
        left: 90px;
        top: -10px;
        animation: homeBanner2 40s linear 0s infinite alternate;
      }
      &.pouch-home-banner-rotate-img-3 {
        top: -100px;
        width: 788px;
        animation: homeBanner1 80s linear 0s infinite alternate;
      }
    }
  }

  .pouch-home-banner-content {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 500px;
    line-height: 1.4em;
    h1 {
      line-height: 1.4em;
      font-weight: normal;
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
  }
}

.pouch-home-introduction {
  background: $bg_gray;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 80px;
    width: 152px;
    height: 103px;
    margin-top: -50px;
  }
  .pouch-home-introduction-content {
    margin: 0 auto;
    padding: 80px 80px 80px 300px;
    box-sizing: border-box;
    line-height: 1.7em;
    color: $color_light;
  }
}

.pouch-home-advantages {
  min-height: 500px;
  padding: 120px 0;
  h1 {
    font-size: 36px;
    text-align: center;
    margin:0 0 100px 0;
    line-height: 1em;
    font-weight: normal;
  }
  .pouch-home-advantages-item {
    box-sizing: border-box;
    position: relative;
    min-height: 500px;
    padding: 80px 0;
    img {
      width: 600px;
      height: 501px;
      position: absolute;
      top: 50%;
      margin-top: -250px;
    }
    .pouch-home-advantages-devider {
      width: 40px;
      height: 4px;
      background: $color_orange;
      margin: 30px 0;
    }
    h2 {
      font-size: 20px;
      line-height: 1em;
      font-weight: normal;
    }
    p {
      margin: 20px 0;
    }
  }
  .pouch-home-advantages-item-1{
    margin-bottom: 40px;
    padding-left: 700px;
    img {
      left:0;
    }
  }
  .pouch-home-advantages-item-2{
    padding-right: 700px;
    img {
      right:0;
    }
  }
}

.pouch-home-features {
  list-style: none;
  padding: 0;
  &:after {
    display: table;
    clear: both;
    content: "";
  }
  > li {
    width: 33.3333%;
    float: left;
    padding-bottom: 20px;
    box-sizing: border-box;
    height: 380px;
    overflow: hidden;
    padding-right: 100px;
    &:nth-child(3) {
      padding-right: 0;
    }
    img {
      height: 80px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 20px;
      line-height: 1em;
      font-weight: normal;
    }
    p {
      color: $color_light;

    }
  }
}

.pouch-home-architecture {
  color: $color_white;
  padding: 100px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  > img {
    width: 1920px;
    height: 680px;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
  }
  > h1 {
    font-size: 36px;
    line-height: 1em;
    font-weight: normal;
  }
  > p {
    width: 50%;
    margin: 0 auto;
    line-height: 1.8em;
  }
}