@import './variable';
@import './normalize';

body {
  color: $color_normal;
  font-size: 14px;
  line-height: 1.6em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #FFF;
}

a {
  color: $color_normal;
  text-decoration: none;
  &:hover {
    color: $color_dark;
  }
}

.pouch-banner-btn {
  display: inline-block;
  height: 55px;
  line-height: 55px;
  border-radius: 30px;
  border: 2px solid $color_white;
  padding: 0 60px;
  transition-duration: 0.3s;
  color: $color_white;
  &:hover {
    box-shadow: 0 0 20px $color_white;
  }
  &.pouch-banner-btn-white {
    background: #FFF;
    color: $color_orange;
  }
  &.pouch-banner-btn-orange {
    color: $color_white;
  }
}

.pouch-cols-container {
  margin: 0 auto;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1280px;
}

header.pouch-header {
  height: $header_height;
  background: #FFF;
  border-bottom: 1px solid $border-color;
  .pouch-cols-container {
    padding: 0 20px;
  }
  .pouch-logo {
    height: $header_height;
    display: block;
    float: left;
    img {
      height: $header_height/2;
      margin-top: $header_height/4;
    }
  }
  .pouch-header-menu {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    height: $header_height;
    .pouch-header-menu-toggle {
      width: 30px;
      cursor: pointer;
      display: none;
      margin-top: 20px;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
      a {
        display: block;
        padding: 0 30px;
        font-size: 16px;
        transition-duration: 0.3s;
      }
      a.pouch-header-link {
        height: $header_height;
        line-height: $header_height;
        &:hover {
          color: $color_orange;
        }
      }
      a.pouch-header-button {
        height: $header_height/2;
        line-height: $header_height/2;
        margin-top: $header_height/4;
        border: 1px solid #EBECF0;
        border-radius: $header_height/4;
        margin-left: 20px;
        &:hover {
          background: $color_orange;
          color: #FFF;
        }
      }
    }

    @media screen and (max-width: 700px) {
      .pouch-header-menu-toggle {
        display: block;
      }
      ul {
        display: none;
        position: absolute;
        top: 100%;
        z-index: 100;
        width: 300px;
        right: -50px;
        background: #FFF;
        padding: 10px 0;
        li {
          float: none;
          a {
            &:hover {
              background: $color_orange;
              color: $color_white !important;
            }
          }
          a.pouch-header-link {
            height: $header_height;
            line-height: $header_height;
          }
          a.pouch-header-button {
            height: $header_height;
            line-height: $header_height;
            border-radius: 0;
            border: none;
            margin: 0;
          }
        }
      }
      &.pouch-header-menu-open {
        ul {
          display: block;
        }
      }
    }

  }
}
.pouch-body {
  min-height: 400px;
}

footer.pouch-footer {
  background: $bg_gray;
  border-top: 1px solid $border-color;
  margin: 0 auto;
  .pouch-footer-cols {
    padding: 30px 0;
    .pouch-footer-col {
      width: 33.3333%;
      display: inline-block;
      transition-duration: 0.3s;
      vertical-align: top;
      @media screen and (max-width: 600px) {
        width: 100%;
        text-align: center;
      }
    }
    &:after {
      clear: both;
      content: '';
      display: block;
    }
  }

  .pouch-footer-menu {
    font-size: 16px;
    margin: 30px 0;
    dt, dd {
      margin: 0;
      padding: 0;
    }
    dt {
      margin-bottom: 20px;
    }
    dd a {
      color: $color_gray;
      display: block;
      height: 35px;
      line-height: 35px;
      transition-duration: 0.3s;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      &:hover {
        color: $color_orange;
      }
    }
  }
  .pouch-footer-copyright {
    color: $color_gray;
    text-align: center;
    padding: 30px 0;
    font-size: 12px;
    border-top: 1px solid $border-color;
  }
}