$color_normal: #4E5059;
$color_dark: #222;
$color_orange: #FF9300;
$color_gray: #BFC1C7;
$color_white: #FFF;


$cols-width: 1280px;

$border-color: #E6E7EB;

$bg_gray: #F7F8FA;


$header_height:  65px;